{{- if and .Values.oracle.enabled .Values.oracle.odbc.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mssql-latest.fullname" . }}-oracle-odbc
  labels:
    {{- include "mssql-latest.labels" . | nindent 4 }}
data:
  odbcinst.ini: |
    [{{ .Values.oracle.odbc.mssqlDriver.name }}]
    Description = {{ .Values.oracle.odbc.mssqlDriver.description }}
    Driver = {{ .Values.oracle.odbc.mssqlDriver.driverPath }}
    UsageCount = 1

    [{{ .Values.oracle.odbc.driver.name }}]
    Description = {{ .Values.oracle.odbc.driver.description }}
    Driver = {{ .Values.oracle.odbc.driver.driverPath }}
    Setup = {{ .Values.oracle.odbc.driver.driverPath }}
    FileUsage = 1

  odbc.ini: |
    {{- range $name, $config := .Values.oracle.odbc.dsn }}
    [{{ $name }}]
    Description = {{ $config.description }}
    Driver = {{ $.Values.oracle.odbc.driver.name }}
    DSN = {{ $name }}
    ServerName = {{ $config.serverName }}
    {{- if $config.enableLOBs }}
    EnableLOBs = {{ $config.enableLOBs }}
    {{- end }}
    {{- if $config.batchAutocommitMode }}
    BatchAutocommitMode = {{ $config.batchAutocommitMode }}
    {{- end }}
    {{ end }}
{{- end }}
